'scopeName': 'text.html.mustache'
'name': 'HTML (Mustache)'
'fileTypes': [
  'mustache'
  'handlebars'
  'hbs'
  'stache'
]
'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#block-expression'
  }
  {
    'include': '#template'
  }
  {
    'include': 'text.html.basic'
  }
]
'repository':
  'comment':
    'begin': '\\{\\{!'
    'end': '\\}\\}'
    'name': 'comment.block.mustache'
  'block-expression':
    'begin': '(\\{\\{)(#\\w*)'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.begin.mustache'
      '2':
        'name': 'entity.name.function.mustache'
    'end': '\\}\\}'
    'endCaptures':
      '0':
        'name': 'entity.name.tag.mustache'
    'name': 'meta.tag.template.mustache'
  'template':
    'begin': '\\{\\{[{<>^/]?'
    'captures':
      '0':
        'name': 'entity.name.tag.mustache'
    'end': '\\}?\\}\\}'
    'name': 'meta.tag.template.mustache'
